---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modders Delight</title>
    <meta property="og:title" content="Landing | Modders Delight">
    <meta property="og:description" content="Modders Delight Landing Page">
    <meta property="og:image" content="https://sleepingami.github.io/modders-delight/assets/modders-delight-logo.png">
    <link rel="icon" type="image/png" href="https://sleepingami.github.io/modders-delight/assets/modders-delight-logo.png">
    <meta name="description" content="Modders Delight - Documenting the fixes we need. Giving back the right to repair.">
    <meta property="og:site_name" content="Modders Delight">
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    
    {% include header.html %}

    <main>
        <h1>Welcome<span class="blink">▏</span></h1>
        <div class="notice">
            <p>🚧 This site's Under Construction <span class="spin">|</span></p>
        </div>
        <div class="section" id="posts"></div>
    </main>
        
    {% include footer.html %}

    <script src="/scripts/fetchScript.js" defer></script>

</body>
</html>