<footer class="crt-footer">
    <p>
        <a href="https://sleepingami.github.io/modders-delight">[F1] HOME</a>  
        <a href="https://github.com/sleepingami/modders-delight">[F2] GITHUB</a>  
        <a href="https://github.com/SleepingAmi/modders-delight/blob/main/templates/template.html">[F8] TEMPLATE</a>  
        <!-- <a href="https://sleepingami.github.io/modders-delight">[F9] EXAMPLE</a>
        <a href="https://sleepingami.github.io/modders-delight">[F10] EXAMPLE</a>
        <a href="https://sleepingami.github.io/modders-delight">[F11] EXAMPLE</a>
        <a href="https://sleepingami.github.io/modders-delight">[F12] EXAMPLE</a> -->
    </p>
    <!--
        Fun fact:
        These are the most common F Keys when booting a computer
        minus certain older ones that are rarely used anymore
        and, of course, the ESC key, as that isn't an F Key at all.
    -->
</footer>