---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modders Delight | DIY PS5 Trigger Fix</title>
    <meta property="og:title" content="PlayStation 5 DualSense Trigger Fix | Modders Delight">
    <meta property="og:description" content="PlayStation 5 DualSense Trigger Fix on Modders Delight">
    <meta property="og:image" content="https://sleepingami.github.io/modders-delight/assets/modders-delight-logo.png">
    <link rel="icon" type="image/png" href="https://sleepingami.github.io/modders-delight/assets/modders-delight-logo.png">
    <meta name="description" content="PlayStation 5 DualSense Controller Trigger Fix on Modders Delight - Documenting the fixes we need. Giving back the right to repair.">
    <meta property="og:site_name" content="Modders Delight">
    <link rel="stylesheet" href="https://sleepingami.github.io/modders-delight/theme.css">
</head>
<body>
    
    {% include header.html %}
    
    <main>
        <div class="author-box" id="author-box">
            <img src="" alt="Author Avatar" class="author-avatar"></img>
            <div>
                <strong id="author-name">Loading <span class="spin">▏</span></strong>
                <br>
                <span id="author-role">Author</span>
            </div>
        </div>
        <h2>DIY PS5 Trigger Fix<span class="blink">▏</span></h2>
        <div class="notice">
            <p>This project showcases how to (temporarily) fix your PlayStation 5 (DualSense) controller's trigger piston mechanism.</p>
            <p>WARNING: Will void warranty (if applicable). Different chassis and revisions may vary.</p>
        </div>
        <div class="notice">Images provided in this guide are sourced from a donor controller, same principle applies.</div>
        <div class="section tools">
            <h2>Tools Required</h2>
            <ul>
                <li>Precision Screwdriver set, preferably magnetic-tipped, with a PH0 size head.</li>
                <li>Small prying tool.</li>
                <li>A decent amount of time and patience (precision mounts, thin cables, small gears).</li>
            </ul>
        </div>
        <div class="section materials">
            <h2>Materials Used</h2>
            <ul>
                <li>Not Applicable</li>
            </ul>
        </div>
        <div class="section sourcing">
            <h2>Parts Sourcing</h2>
            <ul>
                <li>Not Applicable</li>
            </ul>
        </div>
        <div class="section steps">
            <h2>Step-by-Step Instructions</h2>
            <ol>
                <li>Carefully remove L1 and R1 bumper (shoulder) buttons to reveal the concealed PH0 x 3mm screws.</li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0210121-1351941.jpg" alt="Step 1 image" class="conceal image">
                <li>Carefully remove the front shell (faceplate). <strong>WARNING: This piece is brittle, and likely to crack or snap.</strong></li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0220929-1838137.jpg" alt="Step 2 image" class="conceal image">
                <p>Feel free to clean the controller at this step. Lotta gunk gets onto the built-in speaker.</p>
                <li>This should reveal two more PH0 x 3mm screws under the "feet" of the controller. Remove those, too.</li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0230925-1238572.jpg" alt="Step 3 image" class="conceal image">
                <li>Carefully remove the Back Shell (Rear Housing) from the Inner Frame (Midframe).</li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0240924-1447481.jpg" alt="Step 4 image" class="conceal image">
                <p>At this step, it is a good idea to disconnect the battery. Regardless, you will have to remove the plastic holding the battery in place.</p>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0250928-1352123.jpg" alt="Step 4.5 image" class="conceal image">
                <p>Please disconnect the battery, unlike in this image. Also, be careful with the front-facing microphone.</p>
                <li>Find and remove the plastic housing covering the gear mechanism for the faulty trigger.</li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0260927-1256380.jpg" alt="Step 5 image" class="conceal image">
                <li>Carefully invert the spring. It may have already popped out. Put it in, and try the trigger. If it feels soft, invert it, and try again. Whichever side has the most traction is the one you want to keep.</li>
                <img src="https://sleepingami.github.io/modders-delight/assets/ps5-trigger/IMG-0270922-1920227.jpg" alt="Step 6 image" class="conceal image">
                <li>Reassemble the controller.</li>
                <div class="notice">
                    <p>If you somehow have two left over screws after reassembly, but your controller now works fine, congratulations, you have reached Modders Delight level of modding.</p>
                </div>
            </ol>
        </div>
    </main>
    
    {% include footer.html %}

    <script>
        async function getUserInfo(userId) {
            try {
                const response = await fetch(`https://hydraulisc.net/api/${userId}`, {
                    headers: {
                        'Accept': 'application/json'
                    }
                });
                if(!response.ok) {
                    throw new Error('HTTP Error! Status: ' + response.status);
                }
                return await response.json();
            } catch(error) {
                console.log(error);
                return null;
            }
        }

        getUserInfo(1).then(data => {
            document.querySelector("#author-name").textContent = data.user.username;
            document.querySelector(".author-avatar").src = `https://hydraulisc.net/${data.user.pfp}`;

        })
    </script>
</body>
</html>